.desc {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.programming {
    color: #991b1e;
    margin-bottom: 15px;
    font-size: 36px;
    margin-bottom: 20px;
}

.logic {
    color: #46A4C1;
    margin-bottom: 15px;
    font-size: 36px;
    margin-bottom: 20px;
}

.desc-text {
    font-size: 18px;
    flex: 1;
    text-align: left;
}

.desc-image {
    
    width: 300px;
    flex: 1;
}

.desc-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.desc-content {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #ffc818;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
    z-index: 2;
}

.back-btn:hover {
    background-color: #e6b216;
    transform: translateX(-5px);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
    z-index: 2;
}

.dev-banner {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 3%;
    background-color: #991b1e;
    color: #dedede;
    text-align: center;
    padding: auto;
}

.dev-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
    text-align: center;
}

@media (max-width: 767px) {
    .desc {
        padding: 25px;
    }

    .desc h2 {
        font-size: 24px;
    }

    .desc p {
        font-size: 14px;
    }

    .desc-content {
        flex-direction: column;
    }

    .dev-banner {
        height: 4;
        font-size: 11px;
    }

    .dev-overlay {
        font-size: 18px;
        align-items: center;
    }
}