.desc {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.programming {
    color: #991b1e;
    font-size: 36px;
}

.logic {
    color: #46A4C1;
    font-size: 36px;
}

.desc-text {
    font-size: 18px;
    flex: 1;
    text-align: left;
    line-height: 1.6;
}

.desc-image {
    width: 300px;
    flex: 1;
}

.desc-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.desc-content {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.back-btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #ffc818;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.back-btn:hover {
    background-color: #e6b216;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-decoration: none;
}

.dev-banner {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 3%;
    background-color: #991b1e;
    color: #dedede;
    text-align: center;
    padding: auto;
}

@media (max-width: 767px) {
    .desc {
        top: 80px;
        width: 90%;
        padding: 20px 15px;
    }

    .programming,
    .logic {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .desc-text {
        font-size: 14px;
        line-height: 1.5;
    }

    .desc-content {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .desc-image {
        width: 100%;
        max-width: 300px;
    }

    .back-btn {
        margin: 15px auto;
        padding: 10px 20px;
        font-size: 14px;
    }

    .dev-banner {
        height: 4%;
        font-size: 11px;
    }

    .dev-overlay {
        font-size: 18px;
        align-items: center;
    }
}